---
export const partial = true;

export async function getStaticPaths() {
	const showcaseImages = await Astro.glob(
		"../../../public/showcase/*.{png,jpg,jpeg,gif,svg}",
	);

	const paths = showcaseImages.map((image, i) => ({
		params: { id: i },
		props: { image: image.default.src },
	}));
	return paths;
}

const { id } = Astro.params;
const { image } = Astro.props;
---

<div
	id="galleryModal"
	_="on closeModal add .opacty-50 then  remove me"
	class="z-30 flex items-center duration-100 justify-center fixed inset-0 w-screen h-screen"
>
	<div
		class="w-full h-full absolute bg-stone bg-opacity-50"
		_="on click trigger closeModal"
	>
	</div>
	<div
		class="bg-white z-40 overflow-hidden h-4/5 aspect-video object-cover relative"
		_="on click trigger closeModal"
	>
		<img
			src={image}
			alt=""
			class="w-full h-full absolute object-cover"
		/>
		<br />
		<br />
		<!-- <button _="on click trigger closeModal">Close</button> -->
	</div>
</div>
