---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
	<div class="w-screen py-16">
		<h1
			class="mx-8 md:text-3xl text-2xl lg:text-5xl tracking-wide uppercase w-screen text-center whitespace-normal flex flex-wrap justify-center gap-4"
		>
			About Casper's Construction
		</h1>
		<div
			class="max-w-xl aspect-video bg-primary mx-auto flex items-center justify-center my-24 text-3xl text-white"
		>
			LOGO PLACE HOLDER
		</div>
		<section class="mx-8 space-y-8 pb-24">
			<h2 class="text-2xl text-primary">Company History</h2>
			<p class="leading-loose">
				Edward M. Caspers founded Caspers Construction
				in Fullerton, CA in 1968 and incorporated in
				1976. Possessing an eye for craftsmanship and
				detail, he created a company specializing in
				refined additions and custom homes. He achieved
				his goals for over 30 years before passing the
				leadership role to his son, Edward A. Caspers.
				In 2001, Edward A. Caspers opened the doors of
				Caspers Construction Corporation in Long Beach,
				CA where he has continued the tradition of
				excellence in building, client relations and the
				timely completion of custom additions and custom
				homes.
			</p>

			<h2 class="text-2xl text-primary">Company History</h2>
			<p class="leading-loose">
				Edward M. Caspers founded Caspers Construction
				in Fullerton, CA in 1968 and incorporated in
				1976. Possessing an eye for craftsmanship and
				detail, he created a company specializing in
				refined additions and custom homes. He achieved
				his goals for over 30 years before passing the
				leadership role to his son, Edward A. Caspers.
				In 2001, Edward A. Caspers opened the doors of
				Caspers Construction Corporation in Long Beach,
				CA where he has continued the tradition of
				excellence in building, client relations and the
				timely completion of custom additions and custom
				homes.
			</p>
		</section>
	</div>
</Layout>
