---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
	<div class="w-screen py-16">
		<h1
			class="md:mx-8 md:text-3xl text-2xl lg:text-5xl tracking-wide uppercase w-screen text-center whitespace-normal flex flex-wrap justify-center gap-4"
		>
			About Casper's Construction
		</h1>
		<img
			src="/3c-logo-black.svg"
			class="max-w-xl aspect-video mx-auto flex items-center justify-center my-24 text-3xl text-white"
		/>
		<section class="mx-8 space-y-8 pb-24">
			<h2 class="text-2xl text-primary">Company History</h2>
			<p class="leading-loose">
				Edward M. Caspers founded Caspers Construction
				in Fullerton, CA in 1968, and incorporated in
				1976. Before becoming a licensed general
				contractor, Mr. Caspers began his construction
				career in 1957 with Carpenter’s Union Local 1815
				in Santa Ana, CA. He later moved on to Anaheim
				Local 2203 where he worked on the initial
				construction of Disneyland as well as numerous
				schools and colleges throughout Orange County.
				As a framing and finish carpentry specialist,
				Caspers possessed a keen eye for craftsmanship.
				He envisioned a company emphasizing quality,
				design and attention to detail in its building.
				After more than 8 years in the carpenters union,
				he ventured out on his own to start such a
				company. Specializing in custom room additions
				to quality homes, he achieved his goals for over
				30 years, before finally passing the leadership
				role to his son, Edward A. Caspers. In 2001,
				Edward A. Caspers opened the doors of Caspers
				Construction Corporation in Long Beach, CA.
				Caspers’ construction background contrasts his
				father’s in that he was always more interested
				in Architectural design than carpentry. As a
				teen his studies in drafting led him to actually
				create some of the designs used by his father’s
				firm. After graduating high school he earned
				undergraduate degrees from the University of
				Massachusetts and a master’s degree from the
				University at Buffalo, SUNY. A six-year career
				followed as the Fine Arts Department Chairman of
				a Los Angeles high school. Drafting was among
				the courses Caspers taught when he elected to
				leave teaching and join the family business.
				Since 2001, Edward A. Caspers has successfully
				refined the design-build approach to bring his
				clients’ vision of their home to reality.”
			</p>
		</section>
	</div>
</Layout>
