---
import Layout from "../layouts/Layout.astro";

const showcaseImages = await Astro.glob(
	"../../public/showcase/*.{png,jpg,jpeg,gif,svg}",
);
---

<Layout title="Gallery">
	<div
		class="w-screen grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 py-16"
	>
		{
			showcaseImages.map((image, i: number) => {
				if (i > 5) return;
				return (
					<button
						class=" object-cover overflow-hidden "
						hx-get={`/gallery/${i}`}
						hx-target="body"
						hx-trigger="click"
						hx-swap="beforeend"
					>
						<img
							src={image.default.src}
							class="border-white   hover:brightness-110 cursor-pointer object-cover overflow-hidden inline-block  shrink-0 bg-center"
							alt=""
						/>
					</button>
				);
			})
		}
	</div>
</Layout>
