---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Homeowners">
	<div class="min-h-screen px-8 flex flex-col items-center space-y-8">
		<section class="flex flex-col space-y-8 items-center mt-8">
			<h1 class="heading">Bathroom Remodel</h1>
			<p class="leading-relaxed max-w-5xl">
				Lorem ipsum dolor sit amet consectetur
				adipisicing elit. Ipsum veritatis corporis nihil
				consectetur suscipit! Enim recusandae itaque,
				quo vitae iure ut illo consequuntur illum
				deserunt accusamus minima dignissimos, quae
				veniam distinctio odit in. Adipisci non
				repellendus molestiae, repellat tempore nihil ex
				assumenda quos dolore neque sed sapiente
				exercitationem nostrum ipsam quasi aliquam!
				Culpa, incidunt. Omnis eaque autem maxime
				excepturi impedit esse facere rerum aperiam
				expedita, odit soluta. Corrupti doloremque
				saepe, iure aperiam omnis nisi praesentium odit.
				Odio beatae quidem qui perspiciatis earum
				accusamus tenetur quia nemo at quas? Magni alias
				atque eaque corporis dolorem cumque reiciendis
				animi quasi molestias voluptatum.
			</p>
		</section>
		<img
			src="/showcase/bathrooms/1.jpeg"
			alt=""
			class="h-96 aspect-video"
		/>
		<h1 class="heading">Bathroom Kitchen</h1>
	</div>
</Layout>
