---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Caspers Construction Website Dashboard">
	<main>
		<h1>Caspers Construction Website Maintenance Dashboard</h1>
		<p class="instructions">
			<strong class="bold">Pat:</strong>
			**This is just a placeholder page. While the website is being built, this page serves as a net for any traffic. Find the links to documentation and resources below.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/home"
				title="Website"
				body="Work in progress."
			/>

			<Card
				href="https://www.notion.so/5cad2908f93b411f8e85c658acdb8ffc"
				title="Documentation"
				body="Notion page of notes and resources for the project."
			/>
			<Card
				href="https://github.com/twopats/caspers-construction-website"
				title="Github"
				body="Private Github repository containing the source code (This will 404, request Pat for access)"
			/>
			<Card
				href="https://caspersconstruction.net"
				title="Old Site"
				body="Previous Site"
			/>
		</ul>
	</main>
</Layout>

