---
import Layout from "../layouts/Layout.astro";
import InfoBlock from "../components/InfoBlock.astro";

const partners = await Astro.glob(
	"../../public/partners/*.{png,jpg,jpeg,gif,svg}",
);

const showcaseImages = await Astro.glob(
	"../../public/showcase/*.{png,jpg,jpeg,gif,svg}",
);
---

<Layout title="Casper's Construction Home">
	<div
		class="w-full h-4/5 relative text-white flex justify-center flex-col"
	>
		<h1
			class="z-10 flex justify-center text-5xl uppercase text-center"
		>
			Casper's Construction Corporation
		</h1>
		<h3 class="z-10 text-xl tracking-wider flex justify-center">
			Long Beach, CA
		</h3>
		<img
			src="/showcase/complete/1.jpeg"
			alt=""
			class="absolute w-full h-full object-cover brightness-50"
		/>
	</div>
	<InfoBlock
		heading="Long Beach Contractor"
		content="Caspers Construction has been a licensed general contractor of quality remodeling since 1968. Operating in Long Beach, CA and surrounding cities in the South Bay and Orange County, we offer a wide variety of home improvement services from custom room additions, kitchen and bathroom remodeling, complete large scale makeovers and construction of custom homes. As home improvement contractors, our reputation is that of quality builder. Attention to detail is never overlooked and our clients building and remodeling experience is of utmost importance to us. To learn more about our services, view the gallery of completed projects and contact us to schedule an appointment where we will discuss your general contracting needs and desires."
	/>
	<div
		id="landing-gallery"
		class="w-screen grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 md:gap-4 gap-1 py-4"
	>
		{
			showcaseImages.map((image, i) => {
				if (i > 7) return null;
				return (
					<button
						class="aspect-video overflow-hidden"
						hx-get={`/gallery/${i}`}
						hx-target="body"
						hx-trigger="click"
						hx-swap="beforeend"
					>
						<img
							src={image.default.src}
							class="border-white  aspect-video hover:brightness-110 cursor-pointer object-cover overflow-hidden inline-block  shrink-0"
							alt=""
						/>
					</button>
				);
			})
		}
	</div>
	<a
		href="/gallery"
		class="text-white w-full mx-8 space-x-4 p-4 px-8 border border-primary md:w-min flex whitespace-nowrap cursor pointer uppercase primary ml-auto hover:brightness-90 bg-primary justify-center"
		>Go to full gallery

		<img
			src="/arrow-right.svg"
			alt=""
			class="w-4 mx-4 text-primary"
		/>
	</a>
	<InfoBlock heading="" content="" />
</Layout>
