---
interface Props {
	title: string;
}

const { title } = Astro.props;

import "../styles/index.css";
const pages = await Astro.glob("../pages/*.astro");

const sortedPages = pages.sort((a, b) => {
	if (a.url === "/") return -1;
	if (b.url === "/") return 1;
	if (a.url < b.url) return -1;
	if (a.url > b.url) return 1;
	return 0;
});
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Casper's Construction" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1"
		/>

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-white w-screen h-screen overflow-x-hidden relative">
		<div
			class="fixed w-screen flex h-screen md:hidden flex-col z-40 bg-stone items-center justify-center duration-100 -translate-y-full"
			id="mobileMenu"
		>
			<ul class="flex flex-col items-center">
				{
					sortedPages.map((page) => {
						if (!page.url) {
							return (
								<a
									href={
										"/"
									}
									class="px-4 py-4 duration-200 hover:text-primary uppercase text-4xl"
								>
									home
								</a>
							);
						}
						return (
							<a
								href={page.url}
								class="px-4 py-4 duration-200 hover:text-primary uppercase text-4xl"
							>
								{page.url.slice(
									1,
									page.url
										.length,
								)}
							</a>
						);
					})
				}
			</ul>
		</div>
		<nav
			class="w-full py-4 px-8 duration-300 justify-between items-center z-10 hidden md:flex"
		>
			<a
				href="tel:+5629871716"
				target="_blank"
				class="flex items-center space-x-4 drop-shadow-xl border border-primary p-2 relative"
			>
				<img src="/phone.svg" class="w-6" alt="" />
				<span class=""> (562) 987-1716</span>
			</a>
			<ul
				class="flex space-x-8 uppercase font-medium items-center tracking-wide"
			>
				{
					sortedPages.map((page) => {
						if (!page.url)
							return (
								<a
									class="px-4 py-4 duration-200 hover:text-primary"
									href="/"
								>
									home
								</a>
							);
						return (
							<a
								href={page.url}
								class="px-4 py-4 duration-200 hover:text-primary"
							>
								{page.url.slice(
									1,
									page.url
										.length,
								)}
							</a>
						);
					})
				}
			</ul>

			<button
				class="hidden md:flex bg-primary text-xs text-white p-2 cursor-pointer hover:brightness-110 active:border-blue-500 border"
			>
				Get An Estimate</button
			>
		</nav>

		<button
			_="on click toggle .-translate-y-full on #mobileMenu"
			class="md:hidden flex rounded-full m-4 right-0 top-0 fixed border p-2 active:brightness-90 z-50 bg-primary"
		>
			<img
				src="/icons/hamburger.svg"
				alt=""
				class="w-6 text-white"
			/>
		</button>

		<slot />
		<!-- <section class="w-full h-96 bg-cccgrey"></section> -->
		<footer
			id="footer"
			class="bg-dark hidden justify-between items-center text-white flex py-4 px-8 flex-wrap gap-4"
		>
			<a href="/">
				<image
					src="/3c-logo.svg"
					class="w-24 cursor-pointer"
				/>
			</a>
			<div class="flex flex-col justify-center items-center">
				<h2 class="text-2xl font-bold uppercase">
					Casper's Construction
				</h2>
				<!-- <p class="text-sm">(562) 987-1716 </p> -->
			</div>
			<div class="flex flex-col justify-center uppercase">
				<!-- <h2 class="text-2xl font-bold">Hours</h2> -->

				<!-- <p class="text-sm">3530 Long Beach Blvd. Suite 240. Long Beach, CA </p> -->
				<a
					href=""
					class="text-xs tracking-wide font-bold"
					>Site Map</a
				>
				<!-- <p class="text-sm">9:00am - 6:00pm</p> -->
			</div>
			<div
				class="flex-1 flex flex-col justify-center uppercase"
			>
				<a
					href=""
					class="text-xs tracking-wide font-bold"
					>Accessibility</a
				>
			</div>
		</footer>
	</body>
	<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
	<script
		src="https://unpkg.com/htmx.org@1.9.6"
		integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
		crossorigin="anonymous"></script>
</html>
